<div class="padding" id="galBack">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
            <!-- <h1>hello</h1> -->
            <h1>gallery works</h1>
            <p class="lead">here </p>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <p class="lead"> Welcome, My name is Luis Saldana. This is my portfolio.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <p class="lead">My skills vary and come from different backgrounds</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <p class="lead">Past Experiences are as following</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <p class="lead">You can find me at...</p>
    </div>
