<main class="padding">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <div class="container-fluid" id="casa">
        <a class="navbar-brand" href="./app.component.html" style="color: black" class="btn btn-default" id="homey">Home</a>

        <a href="./gallery/gallery.component.html"  class="navbar-brand" style="color: black" class="btn btn-default" id="gal">Gallery</a>
    </div>
  </nav>
  <div class="container" >
      <img src="/assets/welcome message.jpg" alt="welcome" class="center-block" style="border-radius: 150px">
  </div>

  <section class="container">
      <figcaption class="text-center">
        <i class="fa fa-child"></i>
      </figcaption>
  </section>
  <!-- <p [@myAwesomeAnimation]='state' (click)="animateMe()" class="img-responsive">I will animate</p> -->
</main>

<div class="padding" id="second">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4 class="text-center"></h4>
        <p class="lead">Welcome, My name is Luis Saldana. This is my portfolio.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="padding" style="background-color: lightblue">
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <h4>Built with sass</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ex?</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>And Less</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quae.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          </div>
        </div>
    </div>
  </div> -->
