<main>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="container-fluid" id="casa">
        <a class="navbar-brand" href="./app.component.html" style="color: black" class="btn btn-default" id="homey">Home</a>

        <a href="./gallery/gallery.component.html"  class="navbar-brand" style="color: black" class="btn btn-default" id="gal">Gallery</a>
    </div>
  </nav>
  <div class="container" >
      <img src="/assets/welcome message.jpg" alt="welcome" class="center-block" style="border-radius: 150px">
  </div>
  
  <section class="container">
      <figcaption class="center-block">
        <i class="fa fa-child"></i>
      </figcaption>
  </section>



  <p [@myAwesomeAnimation]='state' (click)="animateMe()">I will animate</p>
</main>
