main {
  background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;
}

/* section {
  background: url(https://previews.123rf.com/images/silamime/silamime1609/silamime160900034/63583443-sky-blue-and-abstract-cloud-white-color-full-and-color-fade-nature-landscape-background-.jpg)
} */
#casa {
  display: flex;
  margin: 10px;

}
  #gal {
    margin-left: auto;
    /* align-self: flex-end; */
  }

img {
  margin-top: 100px;
}

  i {
  font-size: 200px;
}
.fa-child {
  margin-top: 20px;
  animation: bounce 2s infinite alternate;
}

p {
  width:200px;
  background:lightgray;
  margin: 100px auto;
  text-align:center;
  padding:20px;
  font-size:1.5em;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
