main {
  background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;
}

#second {
  background-image: url(/assets/arrows-blur-close-up-163130.jpg);
}

#casa {
  display: flex;
  margin: 10px;

}
  #gal {
    margin-left: auto;
    /* align-self: flex-end; */
  }

img {
  margin-top: 100px;
}

  i {
  font-size: 200px;
}
.fa-child {
  margin-top: 20px;
  animation: bounce 1s infinite alternate;
  text-align: center;
}

p {
  width:200px;
  background:lightgray;
  margin: 100px auto;
  text-align:center;
  padding:20px;
  font-size:1.5em;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
