<main class="padding">
    <!-- <nav>
    </nav> -->
    <div class="container" >
        <img src="/assets/welcome message.jpg" class="img-circle center-block" alt="welcome" >
    </div>
    <section class="container">
        <figcaption class="text-center">
          <i class="fa fa-child"></i>
        </figcaption>
    </section>
  </main>
  <div class="padding" id="second">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <p class="lead"> Welcome, My name is Luis Saldana. This is my portfolio.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p class="lead">My skills vary and come from different backgrounds</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p class="lead">Past Experiences are as following</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p class="lead">You can find me at...</p>
        </div>
      </div>
    </div>
  </div>
